
a{
	text-decoration: none;
}
body{
	background: #f9f9f9;
	
}
.container{
	position: absolute;
	overflow: auto;
	width: 1060px;
	height: 100%;
	top: 0;
 	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background: #ffffff;
	box-shadow: 3px 0 3px #dbdbdb,
			   -3px 0 3px #dbdbdb;
}

/*HEADER*/
.logo{
	width: 144px;
	height: 40px;
	margin-left: 46px;
	margin-top: 50px;
}
.menu{
	width: 966px;
	height: 40px;
	margin-left: 46px;
	margin-top: 40px;
	background: #565555;
	background: linear-gradient(to top, #444343, #5e5e5e);
	vertical-align: middle;
	line-height: 2.5em;
}
.menu>a{
	font-size: 16px;
	color: white;
	display: inline-block;
	text-align: center;
	text-shadow: 2px 1px 2px #393838;
}
.menu>a:nth-child(1){
	width: 144px;
}
.menu>a:nth-child(2){
	width: 100px;
}
.menu>a:nth-child(3){
	width: 163px;
}
.menu>a:nth-child(4){
	width: 120px;
}
.menu>a:hover{
	transition: 2s;
	background: #464646;
	border-left: 1px solid #838383;
	border-right: 1px solid #838383;
	box-sizing: border-box;
}
/*LEFT MENU*/
.leftMenu{
	display: inline-block;
	width: 240px;
	height: 240px;
	margin: 40px 0 0 46px;
}
li{
	width: 240px;
	height: 40px;
	border: 1px solid #c8c8c8;
	border-bottom: none;
	box-sizing: border-box;
	color: #656363;
	list-style-type: none;
	line-height: 2.2em;
}
li>a{
	color: #656363;
	padding-left: 24px;
	vertical-align: middle;
}
ul li:last-child{
	border-bottom: 1px solid #c8c8c8;
}
li>a:hover{
	transition: 2s;
	color: #2c2c2c;
	
}
li:hover{
	transition: .2s;
	background: #f9f9f9;
	padding-left: 12px;
	
}
/*CONTENT*/
.content{
	float: right;
	margin-top: 40px;
	margin-right: 46px;
}
.text{
	display: inline-block;
	margin: 40px 40px 0 358px;
	clear: right;
}
/*FOOTER*/
.footer{
	float: left;
	width: 966px;
	height: 40px;
	margin-left: 46px;
	margin-top:78px;
	background: #e1e1e1;
	vertical-align: middle;
	line-height: 2.5em;
}	
.footer>a{
	font-size: 16px;
	color: #2c2c2c;
	display: inline-block;
	text-align: center;
}
.footer>a:nth-child(1){
	width: 144px;
}
.footer>a:nth-child(2){
	width: 100px;
}
.footer>a:nth-child(3){
	width: 163px;
}
.footer>a:nth-child(4){
	width: 120px;
}
.footer>a:hover{
	text-decoration: underline;
	
}
.footer span{
	float: right;
	margin-right: 25px;
}
